/* selector {
    property: value
}
    who {
    what: how
*/


body {
background-color: #E8F9FD;
font-family: "Helvetica-Neue", Helvetica, Arial, sans-serif;
position: relative;
margin: 20px;
}

hr {
border-style: none;
border-top-style: dotted;
border-color: #5584AC;
border-width: 5px;
width: 60%
}

h1 {
color: #000000;
text-align: left;
} 

h2 {
color: #000000;
}

p {
max-width: 150ch;
}

a {
    color: #5584AC;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table, td, th {
border: 1px solid black;
}

table {
    width: 100%;
    border-collapse: collapse;
    }

th {
    background-color: #5584AC;
    color: white;
}

th, td {
    padding: 10px;
}

/********* Class selectors ********/
/* class selectors are defined by you and are activated when you call them in a html tag */

.nav-bar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #B1D0E0;
    border-radius: 10px;
}

.active {
    background-color: #EF9F9F;
}

.nav-bar-list-items {
    display: block;
    float: left;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

.nav-bar-list-items:hover:not(.active)    {
    background-color: #04AA6D;
}

.header-details {
text-align: center;
}


.hobbies-container {
}

.work-experience-container {
}

.code-image {
}