/* selector {
    property: value
}
    who {
    what: how
*/


body {
background-color: #EFEAD8;
font-family: "Helvetica-Neue", Helvetica, Arial, sans-serif;
position: relative;
margin: 20px;
}

hr {
border-style: none;
border-top-style: dotted;
border-color: grey;
border-width: 5px;
width: 60%
}

h1 {
color: #000000;
text-align: left;
} 

h2 {
color: #000000;
}

p {
max-width: 150ch;
margin: 20px
}

table, td, th {
border: 1px solid black;
}

th {
background-color: #dcdcdc;
}

th, td {
padding: 10px;
}

table {
width: 100%;
border-collapse: collapse;
}

li a {
    color: white;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #04AA6D;
  }


/********* Class selectors ********/
/* class selectors are defined by you and are activated when you call them in a html tag */

.nav-bar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #B1D0E0;
    border-radius: 10px;
}

.active {
    background-color: #EF9F9F;
}

.nav-bar-list-items {
    float: left;
}

.header-details {
text-align: center;
}


.hobbies-container {
}

.work-experience-container {
}
