/********* Tag selectors ********/

/* tag selectors apply to any html "tag" element */

body {
    background-color: burlywood;
}

h1 {
    color: honeydew;
}

img {
    background-color: bisque;
}


/********* Class selectors ********/
/* class selectors are defined by you and are activated when you call them in a html tag */

.bacon {
    background-color: blue;
}

.burger {
    background-color: azure;
}

.circular {
    border-radius: 25%;
}


/********* ID selectors ********/
/* ID selectors are defined by you and are activated when you call them in a html tag
An ID is unique and can only be used once
A html element can only have one ID */


#heading {
    color:deeppink
}


/********* pseudo class ********/
/* pseudo classes are keywords added to selectors to define their style during a particular state
for example, below the background color of images changes during the "hover" state (when you hover over an image) */


img:hover {
    background-color: greenyellow;
}

