/********* Tag selectors ********/

/* tag selectors apply to any html "tag" element */

body {
    background-color: #B1D0E0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: antiquewhite;
}


/********* Class selectors ********/
/* class selectors are defined by you and are activated when you call them in a html tag */


.red {
    background-color: red;
    height: 100px;
    width: 100px;
    position: relative;
    left: 200px;
  }
  
.blue {      
    background-color: blue;
    height: 100px;
    width: 100px;
    position: relative;
    bottom: 100px;
  }

.yellow {
    background-color: yellow;
    height: 100px;
    width: 100px;
    position: relative;
    bottom: 200px;
    left: 100px;
  }

/********* ID selectors ********/
/* ID selectors are defined by you and are activated when you call them in a html tag
An ID is unique and can only be used once
A html element can only have one ID */

#intro {
    background-color: #406882;
    border: 10px;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}


/********* pseudo class ********/
/* pseudo classes are keywords added to selectors to define their style during a particular state
for example, below the background color of images changes during the "hover" state (when you hover over an image) */
