/********* Tag selectors ********/

/* tag selectors apply to any html "tag" element */

body {
    margin: 0;
    background-color: #B1D0E0;
    font-family: "Helvetica-Neue", Helvetica, Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #66BFBF;
    line-height: 2;
    margin-top: 20px auto 0 auto;
}

h2 {
    color: #66BFBF;
    font-weight: normal;
    size: 2.5rem;
}

h3 {
    color: #11999E;
}

a {
    color: #11999E;
}

code {
    font-family: monospace;
}


/********* Class selectors ********/
/* class selectors are defined by you and are activated when you call them in a html tag */

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  
  left: 300px;
  bottom: 300px;

  position: absolute;
}

.code-img {
  background-color: #B1D0E0;
  float: left;
  margin-right: 30px;
  width: 25%;
}

.circular {
  border-radius: 10%;
}

.skill-row {
  line-height: 1.5;
  margin: 30px auto 30px auto;
  text-align: left;
  width: 50%;
}

/********* ID selectors ********/
/* ID selectors are defined by you and are activated when you call them in a html tag
An ID is unique and can only be used once
A html element can only have one ID */

#intro {
    background-color: #406882;
    text-align: center;
    padding-top: 100px;
    position: relative;
}


/********* pseudo class ********/
/* pseudo classes are keywords added to selectors to define their style during a particular state
for example, below the background color of images changes during the "hover" state (when you hover over an image) */
