/********* Tag selectors ********/

/* tag selectors apply to any html "tag" element */

body {
    margin: 0;
    background-color: #B1D0E0;
    font-family: "Helvetica-Neue", Helvetica, Arial, sans-serif;
    text-align: center;
}

h1 {
    color: antiquewhite;
    margin-top: 0;
    font-family: "Helvetica-Neue", Helvetica, Arial, sans-serif;
}

code {
    font-family: monospace;
}


/********* Class selectors ********/
/* class selectors are defined by you and are activated when you call them in a html tag */


.red {
    background-color: red;
    height: 100px;
    width: 100px;
    position: absolute;
    left: 208px;
    bottom: 448px;
  }
  
.blue {      
    background-color: blue;
    height: 100px;
    width: 100px;
    position: absolute;
  }

.yellow {
    background-color: yellow;
    height: 100px;
    width: 100px;
    position: absolute;
    left: 108px;
    bottom: 548px;
  }

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

/********* ID selectors ********/
/* ID selectors are defined by you and are activated when you call them in a html tag
An ID is unique and can only be used once
A html element can only have one ID */

#intro {
    background-color: #406882;
    border: 10px;
    border-radius: 10px;
    text-align: center;
    padding-top: 100px;
    position: relative;
}


/********* pseudo class ********/
/* pseudo classes are keywords added to selectors to define their style during a particular state
for example, below the background color of images changes during the "hover" state (when you hover over an image) */
